<p id="notice"><%= notice %></p>

<p>
  <b>Intershippriod:</b>
  <%= @after_intership.intershipPriod %>
</p>

<p>
  <b>Workinghours:</b>
  <%= @after_intership.workingHours %>
</p>

<p>
  <b>Impressioncontents:</b>
  <%= @after_intership.impressionContents %>
</p>

<p>
  <b>Levelofachievement:</b>
  <%= @after_intership.levelOfAchievement %>
</p>

<p>
  <b>Overallimpression:</b>
  <%= @after_intership.overallImpression %>
</p>

<p>
  <b>Ambition:</b>
  <%= @after_intership.ambition %>
</p>

<p>
  <b>Commentsoftachers:</b>
  <%= @after_intership.commentsOfTachers %>
</p>


<%= link_to 'Edit', edit_after_intership_path(@after_intership) %> |
<%= link_to 'Back', after_interships_path %>
