<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @before_intership.company %>
</p>

<p>
  <b>Capital:</b>
  <%= @before_intership.capital %>
</p>

<p>
  <b>Business:</b>
  <%= @before_intership.business %>
</p>

<p>
  <b>Delegate:</b>
  <%= @before_intership.delegate %>
</p>

<p>
  <b>Address1:</b>
  <%= @before_intership.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @before_intership.address2 %>
</p>

<p>
  <b>Intershipscontent:</b>
  <%= @before_intership.intershipsContent %>
</p>

<p>
  <b>Unit:</b>
  <%= @before_intership.unit %>
</p>

<p>
  <b>Receivingperson:</b>
  <%= @before_intership.receivingPerson %>
</p>

<p>
  <b>Tel:</b>
  <%= @before_intership.tel %>
</p>

<p>
  <b>Email:</b>
  <%= @before_intership.email %>
</p>


<%= link_to 'Edit', edit_before_intership_path(@before_intership) %> |
<%= link_to 'Back', before_interships_path %>
